---
layout: default
title: John MacDonald's Projects
permalink: /projects/index.html
---
<div class="row">
  {% assign sorted = site.projects | sort: 'date' | reverse %}
  {% for project in sorted %}
    <div class="blog-post">
      <h2 class="blog-post-title">{{ project.title }}</h2>
        {% if project.categories != "" and project.categories != nil and project.categories != blank %}
        <p class="blog-post-meta">Categories:
          {% for category in project.categories %}
          <a href="/blog/{{ category | slugize }}/"> {{ category }}</a>
          {% endfor %}
        </p>
        {% endif %}
        <p>{{- project.excerpt -}}</p>
      <p class="lead">Continue reading about <a href="{{ project.url }}" title="{{ project.title }}">{{ project.title }}</a></p>
    </div>
  {% endfor %}
</div>