---
layout: default
title: John MacDonald's Projects
permalink: /projects/index.html
---
<h1>{{ page.title }}</h1>
  {% assign sorted = (site.projects | sort: 'date') | reverse %}
  {% for project in sorted %}
    <h2><a href="{{ project.url }}" title="{{ project.title }}">{{ project.title }}</a></h2>
      {% if project.categories != "" and project.categories != nil and project.categories != blank %}
      <p>Categories:
        {% for category in project.categories %}
        <a href="/blog/{{ category | slugize }}/"> {{ category }}</a>
        {% endfor %}
      </p>
      {% endif %}
      <p>{{- project.excerpt -}}</p>
    <h4>Continue reading about <a href="{{ project.url }}" title="{{ project.title }}">{{ project.title }}</a></h4>
  {% endfor %}