node_modules/
dist/
.astro/
.astro-validate/
.cache/
.frontmatter/
.DS_Store
~*
Thumbs.db
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
core
core.*
playwright-report/
test-results/
output/
